
<!DOCTYPE html>
<html>
<head>
	<title>Issues but for (staff)</title>
	<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<p><a href= "/">Home </a></p>
    <p><a href="/viewIssues/all">All Issues</a></p>
    <p><a href="/viewIssues/resolved">Resolved Issues</a></p>
    <p><a href="/viewIssues/reported">Reported Issues</a></p>
    <p><a href="/viewIssues/allocated">Allocated Issues</a></p>
	<button onclick="getLocation()">Get reported by distance away from you</button>
	<header>
		<h1>{{title}}</h1>
	</header>
	<p>Issues:</p>
	<ul>
	<form action="/viewIssues" method="post">
	{{#each issues}}
	<li>{{@index}} - Status: {{this.status}}: {{this.description}}.
		Location: {{this.location}}, date of report: {{this.dateOfReport}}.
		Priority and number of votes: {{this.priority}}, {{this.numberOfVotes}}
	<input type="hidden" name="id" value={{this.id}}> 
	<select name="priority">
		<option value=2 selected="selected">No Change</option>
    	<option value=0>Low</option>
    	<option value=5>Medium</option>
    	<option value=10>High</option>
    </select>
	<select name="status">
		<option value="No change" selected="selected">No Change</option>
    	<option value="allocated">allocated</option>
    	<option value="reported">reported</option>
    	<option value="resolved">resolved</option>
    </select>
	</li>
	{{/each}}
	<p><input type="submit" value="Confirm"></p>
	</form>
	</ul>
	

<script>
var x = document.getElementById("demo");


function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else { 
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
	document.location.href  = "/viewIssues/" + position.coords.latitude + "_" + position.coords.longitude

 //  x.innerHTML = "Latitude: " + position.coords.latitude + 
 // "<br>Longitude: " + position.coords.longitude;
}
</script>





</body>
</html>
