
<!DOCTYPE html>
<html>
<head>
	<title>Issues</title>
	<link href="css/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<p><a href= "/">Home </a></p>
    <p><a href="/viewIssues/all">All Issues</a></p>
    <p><a href="/viewIssues/resolved">Resolved Issues</a></p>
    <p><a href="/viewIssues/reported">Reported Issues</a></p>
    <p><a href="/viewIssues/allocated">Allocated Issues</a></p>
	<header>
		<h1>{{title}}</h1>
	</header>
	<p>Issues:</p>
	<ul>


	<form action="/viewIssues" method="post">
	{{#each issues}}
	<li> 
		<input type="checkbox" class="radio" value={{this.id}} name="id" />
		{{@index}}, {{this.status}}, {{this.description}}, {{this.location}}, {{this.dateOfReport}}, {{this.priority}}, {{this.numberOfVotes}}
	</li>
	{{/each}}
	<p><input type="submit" value="Vote"></p>
	</form>
	</ul>
	
</body>
</html>
